# Git
.git
.github

# IDE
.vscode

# Cache
.ruff_cache
.pytest_cache
__pycache__

# Development
tests/
temp/
docs/
*.md
!README.md

# Docker
Dockerfile
docker-compose.yml

# Config
.pre-commit-config.yaml
.editorconfig
.mise.toml
.python-version
.release-please-manifest*.json
release-please-config*.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md
LICENSE
CHANGELOG.md
